[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ProteinPCA"]
	path = ProteinPCA
	url = https://github.com/piey27/proteinpca
[submodule "adsoRptionCMF"]
	path = adsoRptionCMF
	url = https://github.com/cran/adsoRptionCMF
[submodule "adsoRptionCV"]
	path = adsoRptionCV
	url = https://github.com/piey27/adsorptioncv
[submodule "adsoRptionMCMC"]
	path = adsoRptionMCMC
	url = https://github.com/piey27/adsorptionmcmc
[submodule "suRface.analytics"]
	path = suRface.analytics
	url = https://github.com/cran/suRface.analytics
